html{margin: 0;height: 100%;width: 100%;
padding: 0;overflow-x: hidden;}
body{margin: 0;height: 100%;width: 100%;padding: 0;overflow-x: hidden;}
big{background-color: orangered}
    .big{color: lawngreen;}
    .kiss{border: solid 3px blueviolet;background-color:honeydew;color:black;
    padding: 20px 50px 20px 50px;}
    .c{text-align: center;font-style: italic;font-weight: bold;color: white;}
    .vb{blue}
    .tj{padding-top: 20px;text-align: center;padding-bottom: 20px;
    transform: rotate( 360deg);
    background-color: darkgray;color:black;}
    .gk{border: solid ;padding: 20px;background-color: darkgray;}
    .r{padding-top: 5px;padding-bottom: 28px;text-align: left;}
h1{color:black;font-style:italic;font-weight:bold;}
.gf{padding-right: 40px;}
.i{font-style: italic;font-weight: bold;}
.jbl{font-weight: bold;}

